{"configSettings":[{"appID":"SharedServerToken","serverToken":"KSO2D6NYW22U5JUIEKVD6JUL6P5BRKXA"},{"appID":"4278833692238969","serverToken":""},{"appID":"796141661440425","serverToken":"COLK7IQ5UYPR22CLD7ZSYM4WB5ADPHHB"},{"appID":"4938339572882442","serverToken":"KSO2D6NYW22U5JUIEKVD6JUL6P5BRKXA"}]}